/* -- Global -- */

article, aside, figure, figcaption, footer, header, hgroup, nav, section, summary {   
  display: block;   
}

a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: maroon;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: crimson;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

	
body {
    /* font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif; */
	background-color:white;
	max-width: 800px;


	
}

}

